<footer class="footer">
	<small>
		<a href="http://catapultchicagocalendar/">Catapult Calendar</a>
		by Monica Sharma 
	</small>
	<nav>
		<ul>
			<li><a href="http://catapultchicago.com/">Catapult</a></li>
		</ul>
	</nav>
</footer>